.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #22333b;
}

.heading {
  color: white;
  background-color: #848484;
  padding: 10px;
  border-radius: 10px;
}
